

@model IEnumerable<ecapi.Models.eci.Datum>

<h2>Agri</h2>
<table class="table">
<thead>
    <tr>
        <th>
            variable_id
        </th>
        <th>
            Year
        </th>
        <th>
            state
        </th>
        <th>
            farmtype
        </th>
        <th>
            variable_name
        </th>
    </tr>
</thead>

<tbody>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.variable_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.farmtype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.variable_name)
        </td>
    </tr>
    }
    @{
        Model.Count();
    }


</tbody>
</table>




<script>
    
</script>
<tr>
    <td>
        <a id="dbopt" asp-controller="Home" asp-action="PopulateSymbols">Save</a>
    </td>
</tr>